.main {
	min-height: 100%;
	display: grid;
	justify-items: center;
	align-items: center;
	grid-auto-rows: minmax(0, 1fr);
	grid-auto-flow: row;
}

.main p {
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
	font-size: 96px;
}